.inner{
  max-width: 500px;
  margin: 10px auto;
}

h1{
  background: linear-gradient(to right ,#3466ff, #9866ff);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 2.5rem;
  border-radius: 5px;
}
.add{
  display: grid;
  grid-template-columns: auto 50px;
  gap: 10px;
  height: 50px;
  margin: 10px 0;
}

.add input{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.6rem;
}
.add button{
  background: #9866ff url(/public/plus.svg)no-repeat center;
  font-size: 0;
  color: transparent;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.item{
  display: grid;
  grid-template-columns: auto 30px;
  background-color: #eee;
  border-top: 1px solid #ccc;
  font-size: 1.6rem;
  padding: 15px;
}
.item button{
  background: url(/public/del.svg)no-repeat center;
  border: 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}
